.main{
    background-color: rgb(87, 196, 196);
    padding: 8px 0;
}
ul li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(40, 27, 27);
    text-shadow: 2px;
}
form{
    min-width: 720px;
}

.user{
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    color: whitesmoke;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
}

