<form [formGroup]="loginForm" (ngSubmit)="formData()">
  <h1>Sign in</h1>
  <div class="mb-2 mx-4">
    <div class="mb-2 ">

      <label class="form-label" >Email address</label>
      <input type="email" class="form-control mb-2" formControlName="email" required />

      <label class="form-label" >Password</label>
      <input type="password" class="form-control" formControlName="password" required/>

    </div>

    <button type="submit" class="btn btn-primary form-control mt-2" [disabled]="!loginForm.valid" (click)="emitActionLogin()">
      log-in</button>
  </div>

  <div class="row my-2 text-center">
    <h6 class="signUpTop"><span>new to D-Mart?</span></h6>
    <button class="form-control btn text-bg-secondary signUp" (click)="emitAction()">Create ur D-Mart account</button>
  </div>

</form>