<div class="">
    <div class="container-md shadow-lg mt-4 mx-lg-auto profile">
        <div class="row ">
            <div class="col-2 ">
                <ul>
                    <li>Details</li> 
                    <li>Address</li>
                </ul>
            </div>
            <div class="col-6 shadow">
                <ol >
                    <li>
                        username :  <small>{{userDetails.name}}</small> 
                    </li>
                    <li>
                        password : <small>{{userDetails.name}}</small> 
                    </li>
                    <li>
                        mobile number : <small>{{userDetails.name}}</small> 
                    </li> 
                </ol>
            </div>
        </div>
    </div>
</div>