
// ul{
//     height: 110px;
// }

ul a{
    text-align: center;
}
ul a img{
    height:70px;
    width: 70px;
    margin: 10px 0;  

}

// ul a h6{
//     margin-top: 5px;    
    // height: auto;
// }

.product{
    // background-color: rgb(64, 227, 227);
    margin-bottom: 0;
}

.product-category{
    cursor: pointer;
    text-decoration: none;
    color: rgba(50, 36, 202, 0.87);
}

.offer{
    // background-color: rgb(33, 185, 135);
    padding: 0 5px;
    margin-top: 0;
}

// .offer img{
//     height: 300px;
//     width: auto;
// }

// .offer-main{
//     margin: 10px;
// }

// .center{
//     background-color: rgb(190, 169, 107);
//     display: inline-grid;
// }

// .items{
//     background-color: rgba(123, 140, 210, 0.749);
// }

// .left{
//     background-color: aqua;
//     max-height: 100%;
//     float: left;
// }

.right{
    background-color: rgb(0, 255, 0);
    // max-width: 480px;
    float: right;
}